@import url(https://fonts.bunny.net/css?family=actor:400);
@import url(https://fonts.bunny.net/css?family=aladin:400);
@import url(https://fonts.bunny.net/css?family=xanh-mono:400,400i);
@import url(https://fonts.bunny.net/css?family=akaya-kanadaka:400);
@import url(https://fonts.bunny.net/css?family=overlock:400,400i,700,700i,900,900i);


body {
  background-color: rgba(88, 88, 132, 0.45);
  font-size: 13pt;
  max-width: 800px;
  margin: auto;
  padding: 30px;
  font-family: overlock;
}

tei-role {
  font-family: actor;
}

tei-head {
  display: block;
  background-color: rgb(86, 143, 116);
  text-align: center;
  font-weight: bold;
  font-family: aladin;
  padding: 20px;
  font-size: 140%;
  margin-bottom: 10px;
  border-width: 5px;
  border-style:groove;
  border-color: rgb(91, 158, 172);
}

tei-head tei-persname{
  font-variant: normal;
}
tei-persname {
  font-variant:small-caps;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

tei-p {
  display: block;
  text-align: left;
  font-size: 14;
  font-family: xanh-mono;
}

tei-l {
  display: block;
  text-align: left;
  font-style: oblique;
  font-family: xanh-mono;
  font-size:12pt;
}

tei-speaker {
  font-weight: bold;
  font-size: large;

}

tei-sp {
  display: block;
  padding: 3px;
  margin-bottom: 10px;
  border-width: 5px;
}

tei-div{
  display:inline-block;
  padding: 25px;
  background-color: rgb(232, 219, 204);
  border-style:outset;
  margin-right: inset;
  border-width: 2px;
  border-color: rgb(196, 173, 142);
  margin-bottom: 10px;
}

tei-div[type="columnas"]{
  column-count: 2;
}

tei-div tei-div[type="figura1"]{
  border-style:none;
}

tei-sp[n="1"]{
  float: left;
  width: 100%;
  position: static;
  border-style:none;
}

tei-figure[n="1"]{
  width: 100%;
  float: right;
  padding-left: 10px;
  text-align: center;
  position: static;
}

tei-abbr::before{
  content: "(";
}

tei-abbr::after{
  content: ")";
}

tei-corr{
  color: rgb(170, 140, 51);
  font-weight: bold;
}

tei-del{
  color: rgb(146, 58, 58);
  text-decoration: line-through;
}

tei-add{
  color: rgb(119, 129, 153);
  font-weight: bold;
}

tei-gap {
  background-color: rgb(126, 113, 113);
  content: "x";
}

tei-gap::before{
  content: " ";
  white-space: pre;
}

tei-lb::before {
  white-space: pre;
  content: "\A";
}