@import url(https://fonts.bunny.net/css?family=actor:400);
@import url(https://fonts.bunny.net/css?family=aladin:400);
@import url(https://fonts.bunny.net/css?family=overlock:400,400i,700,700i,900,900i);
@import url(https://fonts.bunny.net/css?family=noto-serif-sc:400,600);
@import url(https://fonts.bunny.net/css?family=inria-serif:400);

body {
  background-color: rgba(88, 88, 132, 0.45);
  font-size: 14pt;
  max-width: 800px;
  margin: auto;
  padding: 30px;
  font-family: overlock;
}

tei-name {
  font-style: italic;
}

tei-head {
  display: block;
  background-color: rgb(126, 171, 150);
  text-align: center;
  font-weight: bold;
  font-family: aladin;
  padding: 20px;
  font-size: 160%;
  margin-bottom: 10px;
  border-width: 5px;
  border-style:groove;
  border-color: rgb(126, 171, 150);
}

tei-head tei-persname{
  font-family: aladin;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}

tei-role {
  font-family: actor;
  font-size: large;
}
tei-persname {
  font-size: large;
  font-family: actor;
}


tei-sp {
  display:inline-block;
  padding: 3px;
  text-align: left;
  margin-bottom: 10px;
  border-width: 5px;
  font-size: 15pt;
  font-family:inria;
}

tei-speaker {
  font-weight: bold;

}
tei-p {
  text-align: left;
}
tei-l {
  text-align: left;
}

tei-div{
  display:inline-block;
  padding: 25px;
  background-color: rgb(232, 219, 204);
  border-style:outset;
  margin-right: inset;
  border-width: 2px;
  border-color: rgb(196, 173, 142);
  margin-bottom: 10px;
}

tei-div tei-div[type="figura1"]{
  border-style:none;
}
tei-figure[n="1"]{
  width: 100%;
  float: right;
  padding-left: 10px;
  text-align: center;
  font-size: 12pt;
  position: static;
}

tei-div tei-div[type="figura2"]{
  border-style:none;
}
tei-figure[n="2"]{
  width: 100%;
  float: right;
  padding-left: 10px;
  text-align: center;
  font-size: 12pt;
  position: static;
}

tei-sp[n="1"]{
  float: left;
  width: 100%;
  position: static;
  border-style:none;
}




tei-del{
  color: rgb(68, 56, 142);
  text-decoration: line-through;
}

tei-add{
  color: rgb(82, 128, 90);
  font-weight: bold;
}

tei-unclear{
  color: rgb(121, 58, 102);
  font-weight: bold;
}

tei-gap {
  background-color: rgb(145, 143, 30);
  content: "x";
}

tei-gap::before{
  content: "(...)";
  white-space: pre;
}

tei-lb::before {
  white-space: pre;
  content: "\A";
}